/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1c1c1e;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
  }
  
  .signup-button {
    background-color: #7b46f6;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .signup-button:hover {
    background-color: #946eff;
    transition: background-color 0.3s ease;
  }
  